.header{
    height:60px;
    display:flex;
    align-items:center;
    background-color:black;
    position:sticky;
    top:0;
    z-index:100;
}


.header__logo{
    width:100px;
    object-fit:contain;
    margin:0 20px;
    margin-top:18px;
}


.header__searchInput {
    height:12px;
    padding:1opx;
    border:none;
    width:100%;
}

.header__nav{
    display:flex;
    justify-content:space-evenly;
}


.header__searchIcon {
    padding:5px;
    height:22px !important;
    background-color:#cd9042;
}
